@import url("https://fonts.googleapis.com/css2?family=Montserrat");

html,
body {
  height: 100%;
}
* {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.float-right{
  float: right;
}