.mat-flat-button,
.mat-stroked-button {
  border-radius: 21px !important;
  text-transform: uppercase !important;
  padding: 3px 35px !important;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.success-snackbar {
  background: green !important;
  color: white !important;
}

.success-snackbar .mat-simple-snackbar-action {
  color: white !important;
}

.warn-snackbar {
  background: yellow !important;
  color: black !important;
}

.warn-snackbar .mat-simple-snackbar-action {
  color: black !important;
}

.error-snackbar {
  background: red !important;
  color: white !important;
}

.error-snackbar .mat-simple-snackbar-action {
  color: white !important;
}

.buttons-footer {
  display: flex;
  padding: 16px 0;
  justify-content: flex-end;
  gap: 16px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  position: relative;
  min-height: 200px;
}
