@import "~@angular/material/theming";
@include mat-core();

//create pallet at http://mcg.mbitson.com
$md-myprimary: (
  50: #e0f6fa,
  100: #b3e9f2,
  200: #80dbe9,
  300: #4dcde0,
  400: #26c2d9,
  500: #00b7d2,
  600: #00b0cd,
  700: #00a7c7,
  800: #009fc1,
  900: #0090b6,
  A100: #dff7ff,
  A200: #acebff,
  A400: #79dfff,
  A700: #5fd9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$social-bank-desafio-primary: mat-palette($md-myprimary);
$social-bank-desafio-accent: mat-palette($mat-indigo);
$social-bank-desafio-warn: mat-palette($mat-red);

$social-bank-desafio-theme: mat-light-theme(
  (
    color: (
      primary: $social-bank-desafio-primary,
      accent: $social-bank-desafio-accent,
      warn: $social-bank-desafio-warn,
    ),
  )
);

@include angular-material-theme($social-bank-desafio-theme);


.primary-color{
  color: mat-color($social-bank-desafio-primary);
}


.field-data-text {
  color: mat-color($social-bank-desafio-primary);
  font-weight: 600;
}

.field-label-color {
  color: #696969;
}
