@import "./theme.scss";

.default-header {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.default-title {
  font-weight: bold;
  font-size: 24px;
  color: mat-color($social-bank-desafio-primary);
  margin: 0;
  padding: 0;
}

.default-subtitle {
}
