<mat-toolbar color="primary" class="footer-size">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <p class="footer-text">
          Desafio Social Bank
          <span class="big-rs">, 10 de maio de 2021 - Fernando Lacerda</span>
        </p>
      </div>
    </div>
  </div>
</mat-toolbar>
