<mat-toolbar color="primary" class="py-3">
  <div class="container">
    <span class="logo-text cursor-pointer" (click)="routeToHome()"
      >Social <strong>Bank</strong> Desafio</span
    >
  </div>
</mat-toolbar>
