<header class="default-header">
  <span class="default-title">Editar de Usuário</span>
</header>

<div class="container mt-3">
  <form name=" editForm" role="form" [formGroup]="editForm">
    <div class="row loading-content">
      <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput maxlength="100" required />
        <mat-error *ngIf="editForm.get('name')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
        <mat-error *ngIf="editForm.get('name')?.errors?.pattern">
          <strong>Atenção: </strong>Este campo só aceita letras
        </mat-error>
        <mat-error *ngIf="editForm.get('name')?.errors?.whitespace">
          <strong>Atenção: </strong>Este campo não pode ter só espaços em
          branco.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput maxlength="100" required />
        <mat-error *ngIf="editForm.get('email')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
        <mat-error *ngIf="editForm.get('email')?.errors?.email">
          E-mail é <strong>Inválido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Telefone</mat-label>
        <input
          formControlName="phone"
          mask="(00) 00000-00000"
          matInput
          required
        />
        <mat-error *ngIf="editForm.get('phone')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
        <mat-error *ngIf="editForm.get('phone')?.errors?.phoneNotValid">
          Telefone é <strong>Inválido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Data de Nascimento</mat-label>
        <input
          formControlName="birthdate"
          matInput
          type="date"
          data-date-format="DDMMYYYY"
          required
        />
        <mat-error *ngIf="editForm.get('birthdate')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>

      <hr />

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>CEP</mat-label>
        <input formControlName="postcode" mask="00.000-000" matInput required />
        <mat-error *ngIf="editForm.get('postcode')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Endereço</mat-label>
        <input formControlName="street" matInput maxlength="250" required />
        <mat-error *ngIf="editForm.get('street')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Bairro</mat-label>
        <input formControlName="district" matInput maxlength="60" required />
        <mat-error *ngIf="editForm.get('district')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
      >
        <mat-label>Estado</mat-label>
        <mat-select required formControlName="state">
          <mat-option *ngFor="let uf of statesList" [value]="uf.nome">
            {{ uf.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.get('state')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="my-0 col-sm-12 col-md-6 col-lg-4"
        appearance="outline"
        *ngIf="editForm.get('state')?.value"
      >
        <mat-label>Cidade</mat-label>
        <mat-select required formControlName="city">
          <mat-option *ngFor="let cidade of cidadeList" [value]="cidade">
            {{ cidade }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.get('city')?.errors?.required">
          <strong>Atenção: </strong>Este campo é de preenchimento obrigatório.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<footer class="buttons-footer">
  <button
    mat-stroked-button
    appearance="outline"
    color="primary"
    class="mb-3"
    (click)="previousPage()"
  >
    Voltar
  </button>
  <button
    mat-flat-button
    color="primary"
    class="mb-3"
    [disabled]="isLoading"
    (click)="save()"
  >
    Atualizar Usuário
  </button>
</footer>
