<header class="default-header">
  <span class="default-title">Usuário</span>
  <button
    mat-stroked-button
    appearance="outline"
    color="primary"
    (click)="editUser()"
    class="float-right"
  >
    <mat-icon>edit</mat-icon>
    <span class="mx-1 big-rs">Editar</span>
  </button>
</header>

<div class="container mt-4 mb-4 loading-content">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Nome</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">{{ currentUser?.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">E-mail</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">
            {{ currentUser?.email }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Telefone</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">
            {{ currentUser?.phone! | mask: "(00) 00000-00000" }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Data de Nascimento</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">
            {{ currentUser?.birthdate | date: "dd/MM/YYYY":"+0000" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">CEP</p>
        </div>
        <div class="col-8">
          <p class="field-data-text" *ngIf="currentUser?.address?.postcode!">
            {{ currentUser!.address!.postcode! | mask: "00.000-000" }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Estado</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">
            {{ currentUser?.address?.state }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Cidade</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">{{ currentUser?.address?.city }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="field-label-color">Endereço</p>
        </div>
        <div class="col-8">
          <p class="field-data-text">
            {{ currentUser?.address?.street }} ,
            {{ currentUser?.address?.district }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="buttons-footer">
  <button
    mat-stroked-button
    appearance="outline"
    color="primary"
    class="mb-3"
    (click)="previousPage()"
  >
    Voltar
  </button>
  <button
    mat-stroked-button
    appearance="outline"
    color="warn"
    class="mb-3"
    [disabled]="isLoading"
    (click)="deleteUser()"
  >
    <mat-icon>delete</mat-icon>
    <span class="mx-1 big-rs">Excluir</span>
  </button>
</footer>
