<div class="container">
  <h2 mat-dialog-title class="mb-3 primary-color">
    <strong>Atenção!</strong>
  </h2>
  <div mat-dialog-content>
    <h4 class="mb-4">Tem certeza que deseja excluir {{ data }} ?</h4>

    <button (click)="confirmCreation(false)" mat-stroked-button color="primary">
      Cancelar
    </button>

    <button
      mat-stroked-button
      appearance="outline"
      color="warn"
      class="mb-3 float-right"
      (click)="confirmCreation(true)"
    >
      excluir
    </button>
  </div>
</div>
