<header class="default-header">
  <span class="default-title"
    ><span class="big-rs">Listagem de </span> Usuários</span
  >
  <button
    mat-stroked-button
    appearance="outline"
    color="primary"
    (click)="createNewUser()"
  >
    <mat-icon>person_add</mat-icon>
    <span class="big-rs mx-1">Novo usuário</span>
  </button>
</header>

<div class="mt-5">
  <mat-form-field class="col-12 col-sm-6 col-lg-4" appearance="outline">
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. João"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8 loading-content">
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
        <td mat-cell *matCellDef="let row">
          {{ row.phone | mask: "(00) 00000-00000" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nascimento</th>
        <td mat-cell *matCellDef="let row">
          {{ row.birthdate | date: "dd/MM/YYYY":"+0000" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        class="may-click"
        *matRowDef="let row; columns: columnsToDisplay"
        (click)="userRowClicked(row)"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Nenhum uruário encontrado com o filtro "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
